@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
/* title section */
.title-container{
    width: 1440px;
height: 652px;
margin: 0 auto;
background-image:url(../assets/Hero-bg.png);

}
.title-content{
    width: 998px;
height: 582px;
    margin: 0 auto;
display: flex;
flex-direction: column;
justify-content:flex-start;
align-items: center;
text-align: center;
margin-top: 25px;
margin-bottom: 45px;
}
.title-txt img {
    width: 240.28px;
    height: 240px;
    margin: 0 auto;
}
.title-txt{
    width: 998px;
height: 212px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
margin: 32px 0px;
padding: 0px;
}
.title-txt h1{
    width: 998px;
height: 136px;
margin: 24px 0px;
margin-top: 80px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 48px;
font-weight: 800;
}
.title-txt p{
    width: 852px;
height: 52px;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
}
.title-txt button{
    width: 208px;
height: 66px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 21px 24px 21px 24px;
border-radius: 8px;
background: rgb(13, 19, 33);
color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 10px;
font-weight: 600;
margin: 22px 0px;
}
/* reason section */
.reason-container{
    width: 1140px;
height: 1395px;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 80px 97px 80px 97px;
border-radius: 16px;
background: rgba(13, 19, 33, 0.02);
}
.reason-content{
    width: 946px;
height: 1235px;
width: 150px;
height: 48px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding: 0px;
margin: 0px 10px;
}
.reason-title{
    width: 852px;
height: 115px;
width: 852px;
height: 115px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding: 0px;
margin: 48px 0px;
}
.reason-title h2{
    width: 852px;
height: 39px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding: 0px;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 800;
margin: 24px 0px;
}
.reason-title p{
    width: 852px;
height: 52px;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
letter-spacing: 0%;
text-align: center;
margin: 24px 0px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding: 0px;
}
.description-container1{
    width: 946px;
    height: 336px;
    border-radius: 16px;
background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 48px;
margin: 32px 0px;
}
.description-content1{
    width: 850px;
height: 240px;
margin: 32px 0px;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}
.description-txt1{
    width: 477px;
height: 220px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 0px;
margin: 0px 10px;
}
.description-txt1 h3{
    width: 390px;
height: 72px;
color: rgba(13, 19, 33, 0.7);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 700;
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
}
.description-txt1 p{
    width: 468px;
height: 52px;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
}
.description-txt1 button{
    width: 150px;
height: 48px;
    box-sizing: border-box;
border: 1px solid rgb(13, 19, 33);
opacity: 0.7;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 20px 12px 20px;
}
.description-img1{
    
    width: 259.56px;
height: 217.01px;
}
.description-container2{
    width: 946px;
    height: 336px;
    display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 48px;
align-self: stretch;
border-radius: 16px;
background: linear-gradient(270.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
margin: 32px 0px;
}
.description-content2{
    width: 850px;
    height: 240px;
    display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 0px;
align-self: stretch;
margin: 32px 0px;
}
.description-img2{
    width: 223.2px;
    height: 208.85px;
}
.description-txt2{
    width: 477px;
height: 220px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 0px;
margin: 0px 32px;
}
.description-txt2 h3{
    width: 477px;
height: 72px;
color: rgba(13, 19, 33, 0.7);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 700;
color: rgba(13, 19, 33, 0.7);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 700;
padding: 0px;
}
.description-txt2 p{
    width: 468px;
height: 52px;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;
}
.description-txt2 button{
    width: 150px;
height: 48px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 20px 12px 20px;
box-sizing: border-box;
border: 1px solid rgb(13, 19, 33);
opacity: 0.7;
margin: 32px 0px;
}
.description-container3{
    width: 946px;
    height: 336px;
    display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 48px;
margin: 32px 0px;
align-self: stretch;
}
.description-content3{
    width: 850px;
    height: 240px;
    display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px;
margin: 32px 0px;
align-self: stretch;
}
.description-txt3{
    width: 477px;
    height: 220px;
    display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 0px;
margin: 0px 10px;
}
.description-txt3 h3{
    width: 390px;
    height: 72px;
    display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;
color: rgba(13, 19, 33, 0.7);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 700;
margin: 16px 0px;
}
.description-txt3 p{
    width: 468px;
    height: 52px;
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
    display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;
margin: 16px 0px;
text-align: left;
}
.description-txt3 button{
    width: 149px;
    height: 48px;
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 20px 12px 20px;
box-sizing: border-box;
border: 1px solid rgb(13, 19, 33);
opacity: 0.7;
margin: 32px 0px;
}
/* inspiration section */
.inspiration-container{
    width: 1140px;
height: 777px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding: 0px;
margin: 0 auto;
}
.inspiration-txt{
    width: 852px;
height: 115px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding: 0px;
margin: 48px 0px;
padding: 0px;
}
.inspiration-txt h2{
    width: 852px;
    height: 39px;
    display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding: 0px;
margin: 24px 0px;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 800;
}
.inspiration-txt p{
    width: 852px;
    height: 52px;
    display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding: 0px;
margin: 24px 0px;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
}
.inspiration-vdo{
    width: 1076px;
height: 550px;
margin: 10px 0px;
border-radius: 16px;
background: url(https://youtu.be/DGHn2uOAVCE?si=VJOeLtav9GLEzLB6);
}
/* target section */
.target-container{
    width: 1140px;
    height: 463px;
    display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding: 0px;
margin: 111px 0px;
}
.target-content{
    width: 946px;
height: 115px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding: 0px;
margin: 48px 0px;
}
.target-content h3{
    width: 852px;
    height: 39px;
    display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding: 0px;
margin: 24px 0px;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 800;
}
.target-content p{
    width: 852px;
    height: 52px;
    display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding: 0px;
margin: 24px 0px;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
}
.skills-container{
    width: 1040px;
    height: 300px;
    display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 0px;
margin: 48px 0px;
}
.skill1{
    width: 364px;
    height: 300px;
    display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 40px;
margin: 0px 24px;
border-radius: 16px;
background: rgba(255, 76, 30, 0.05);
}
.skill2{
    width: 364px;
    height: 300px;
    display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 40px;
margin: 0px 24px;
border-radius: 16px;
background: rgba(0, 76, 232, 0.05);
}
.skill3{
    width: 364px;
    height: 300px;
    display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 40px;
margin: 0px 24px;
border-radius: 16px;
background: rgba(255, 223, 0, 0.05);
}
/* support section */
.support-container{
    width: 1140px;
    height: 314px;
    display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 64px 48px 64px 48px;
border-radius: 16px;
background: rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),url(../assets/handshake.jpg)
}
.support-content{

}
.support-content-txt{
    width: 730px;
    height: 104px;
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
margin: 24px 0px;
}
.suggest-button{
    width: 548px;
    height: 57px;
    display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 19px 20px 19px 20px;
box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 0.15);
border-radius: 8px;
background: rgb(255, 255, 255);
margin: 0px 16px;
}
.button-text{
    width: 313px;
height: 19px;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 9px 10px 9px 10px;
color: rgba(13, 19, 33, 0.4);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
margin: 0px 10px;
}
.submit-button{
    width: 120px;
    height: 58px;
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 17px 20px 17px 20px;
border-radius: 8px;
background: rgb(255, 255, 255);
margin: 0px 16px;
}
.support-content{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
}
.button-content{
display:flex;
justify-content: center;
align-items: center;
}
